<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="static/css/style.css" />
  <link rel="stylesheet" href="static/css/customstyle.css" />
  <link rel="icon" type="image/png" href="static/img/icon.png" />
  <title>Anavevo</title>
</head>

<body>

  <!-- Navbar -->
  <div class="bg-dark fixed-top shadow">
    <div class="container">
      <div class="row">
        <nav class="col navbar navbar-expand-lg navbar-dark">

          <a class="navbar-brand" href={{ str(path_url) + "/home" }}>
            <img src="static/img/icon.png" width="40" height="30" alt="Site logo">
            Anavevo
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div id="navbarContent" class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href={{ str(path_url) + "/home" }}>Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{ str(path_url) + "/library" }}>Bibliothèque</a>
              </li>
			  {% if label_user is None %}
              <li class="nav-item">
                <a class="nav-link" href={{ str(path_url) + "/login" }}>Se connecter</a>
              </li>
			  {% else %}
			  <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ label_user }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<li><a class="dropdown-item" href={{ str(path_url) + "/logout" }}>Déconnexion</a></li>
                </ul>
              </li>
			  {% end %}
            </ul>
          </div>

        </nav>
      </div>
    </div>
  </div>

  <!-- Contenu de la page -->
	<div class="container">

		<div class="my-4">marge</div>

		<div class="my-4 p-2 text-center bg-light shadow">
			<img class="my-3" src="static/img/icon.png" width="100" height="70" alt="Site logo">
				<p class="fw-bold display-3">Anavevo</p>
			<div class="col-md-6 mx-auto">
				<p class="lead">Connexion</p>
			</div>
			<div class="d-flex flex-column align-items-center login-container">
				<form method="POST">
					{% module xsrf_form_html() %}
					<div class="d-flex flex-column mt-3 login-username-container">
						<div class="d-flex flex-column align-items-start username-input-container">
							<label for="username-input">Identifiant : </label>
							<input id="username-input" class="style-input" type="text" placeholder="Nom d'utilisateur ou email" name="username" value="{% if username is not None %}{{ username }}{% end %}" required>
						</div>
						{% if dicError is not None %}
						<div class="username-error-list">
							{% if dicError["username-errors"] is not None %}
							<div class="username-not-exist">
								<p>{{ dicError["username-errors"] }}</p>
							</div>
							{% end %}
						</div>
						{% end %}
					</div>
					<div class="d-flex flex-column mt-3 login-password-container">
						<div class="d-flex flex-column align-items-start password-input-container">
							<label for="password-input">Mot de passe : </label>
							<input id="password-input" class="style-input" type="text" placeholder="Mot de passe" name="password" value="{% if password is not None %}{{ password }}{% end %}" required>
						</div>
						{% if dicError is not None %}
						<div class="password-error-list">
							{% if dicError["password-errors"] is not None %}
							<div class="password-errors">
								<p>{{ dicError["password-errors"] }}</p>
							</div>
							{% end %}
						</div>
						{% end %}
					</div>
					<div class="login-button mt-4">
						<button type="submit" value="send" class="btn btn-outline-primary btn-lg mb-3" role="button">Se connecter</button>
					</div>
				</form>
			</div>
		</div>
	</div>

  <!-- Pied de page -->
  <div class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col my-2">
          <ul class="list-inline text-center">
            <li class="list-inline-item"><a href="#">À propos</a></li>
            <li class="list-inline-item">&middot;</li>
            <li class="list-inline-item"><a href="#">Vie privée</a></li>
            <li class="list-inline-item">&middot;</li>
            <li class="list-inline-item"><a href="#">Conditions d'utilisations</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
