.list-nostyled {
  list-style: none;
}

.style-input {
	border-radius: 6px;
	padding: .67em 35px .67em .67em;
	border: 1px solid #caccce;
	width: 100%;
}

.style-input-error {
	border-radius: 6px;
	padding: .67em;
	border: 1px solid #caccce;
	width: 100%;
	border: 1px solid #d93025;
}

.search-container {
	margin: 5px;
}

.search-form {
	width: 100%;	
}

.search-input-container {
	margin-top: 30px;
}

.search-results-container {
	border-radius: 0.3rem;
	border-width: thin;
	box-sizing: content-box;
	width: -moz-available;
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 10px;
	margin-top: 20px;
	box-shadow: 0 0 5px #c3c0c0;
}

.search-summary {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.search-summary-results {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: 20px;
	line-height: 10px;
}

.delete-search-show {
	position: absolute;
	margin-left: 1073px;
	color: #cbc4c4;
	cursor: pointer;
}

.delete-search-hide {
	position: absolute;
	margin-left: 1073px;
	color: #cbc4c4;
	cursor: pointer;
	display: none;
}

.search-results {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
}

.collection-navigation {
	display: flex;
	flex-direction: row;
}

.collection-container {
	display: flex;
	flex-direction: column;
}

.item-navigation {
	display: flex;
	flex-direction: row;
}

.item-container {
	display: flex;
	flex-direction: column;
}

.item-container-hide {
	display: none;
}

.item-container-show {
	display: flex;
	flex-direction: column;
}

.essence-navigation-hide {
	display: none;
}

.essence-navigation-show {
	display: flex;
	margin-left: 10px;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #000;
	margin-top: 32px;
	cursor: pointer;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #000;	
	margin-top: 32px;
	cursor: pointer;
	margin-left: 10px;
}

.no-arrow {
	width: 20px;
}

/*.username-error-list {
	height: 10px;
	max-height: 10px;
}*/

/*.username-not-exist {
	color: #d93025;
}*/

.input-container {
	width: 100%;
	max-width: 450px;
}

/*.password-input-container {
	width: 100%;
}*/

.error-list {
	height: 10px;
	max-height: 10px;
	color: #d93025;
	max-width: 450px;
	width: 100%;
}

.form-login-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.element-container {
	width: 100%;
	align-items: center;
}

.form-login-container > div:nth-last-of-type(2){
	margin-bottom: 40px;
}

.message-errors {
	display: flex;
	align-items: start;
	padding-top: 2px;
	margin-left: 6px;
}

.error-icon {
	width: 18px;
	height: 18px;
	fill: #d93025;
	margin-right: 4px;
	display: flex;
	align-self: center;
}

.password-input {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.toggle-eye {
	align-self: center;
	margin-left: -30px;
	cursor: pointer;
}

#navbarContent .nav-item:last-of-type {
	margin-left: auto;
}

.navbar-custom {
	width:100%;
}

.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.register-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.connexion-separator {
	border-top: 1px solid #cbd2d6;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 18px;
	width: 500px;
}

.text-connexion-separator {
	margin-top: -17px;
	display: flex;
	background-color: #f8f9fa;
	padding: 0 1em 0 1em;
	align-items: center;
	font-size: 20px;
}

.button-width-150 {
	width: 150px;
}

.button-width-180 {
	width: 180px;
}

.button-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
	justify-content: center;
}

.text-result-summary {
	align-items: start;
	display: flex;
	flex-direction: column;
	margin-left: 40px;
}

.title-text-result {
	text-transform: uppercase;
	margin-bottom: auto;
}

.description-text-result{
	font-size: 12px;
}

.mark-result {
	background-color: #50e132;
	font-weight: bold
}

.search-results-content {
	width: 100%;
	padding-right: 32px;
	display: flex;
	flex-direction: column;
}

.search-results-nocontent {
	padding-right: 32px;
}

.hide-element-container {
	display:none;
}

#password-info-container.show-element-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	margin-left: 870px;
	height: auto;
	max-height: 0px;
}


.show-element-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	margin-left: 870px;
	max-height: 52px;
	height: 100%;	
}

#lastname-info-container {
	margin-top: 20px;		
}

#firstname-info-container {
	margin-top: 20px;
}

#username-info-container {
	margin-top: 20px;
	height:52px;
}


#username-info-container > div >.info-ul {
	height: 100%;
	flex-direction: row;
	align-items: center;
}
#password-info-container {
	margin-top: 46px;
}

.info-vignette {
	background: #dfdfdf none repeat scroll 0 0;
	transform: rotate(45deg);
	width: 25px;
	content: "";
	height: 25px;
}

.info {
	background: #dfdfdf none repeat scroll 0 0;
	border-radius: 10px;
	margin-left: -12px;
	padding: 8px;
	height: 100%;
	width: 386px;
}

.info-title {
	display: flex;
	margin-left: 10px;
}

.info-ul {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-left: 20px;
}

.element-info {
	align-items: center;
	display: flex;
}

.invalid-info {
	color: #d93025;
}

.valid-info {
	color: green;
}

.info-text {
	padding-left: 8px;
	font-size: 12px;
}

